name: PR title
run-name: ${{ github.event.pull_request.title }}
on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
      - edited
      - ready_for_review
jobs:
  validate:
    runs-on:
      group: large-runners
    if: ${{ !github.event.pull_request.draft && github.event.pull_request.user.login != 'app/dependabot' }}
    steps:
      - name: Print the pull request author
        run: echo "The pull request author is ${{ github.event.pull_request.user.login }} "
